build/*
*.o
*.a
*.pyc
src/camax.c
src/camaxm.c
src/cdotcI2.c
src/cdotuI2.c
src/csumI2.c
src/damax.c
src/damaxm.c
src/dasumI2.c
src/ddotI2.c
src/dnrm2I2.c
src/dsumI2.c
src/dzasumI2.c
src/dznrm2I2.c
src/samax.c
src/samaxm.c
src/sasumI2.c
src/scasumI2.c
src/scnrm2I2.c
src/sdotI2.c
src/snrm2I2.c
src/ssumI2.c
src/zamax.c
src/zamaxm.c
src/zdotcI2.c
src/zdotuI2.c
src/zsumI2.c
tests/common/blas_inc.h
tests/common/test_data
